.map {
  position: relative;
  width: 100%;
  line-height: 0;
}

.map img:not(.bg) {
  max-width: 100%;
  border-radius: 50%;
}

.map img:not(.bg):hover {
  max-width: 100%;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.3) 3px 3px 4px 0;
  transform: translateY(-2px);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-justify-content: center!important;
    justify-content: center!important;
}