.map {
  position: relative;
  width: 100%;
  line-height: 0;
}

.map img:not(.bg) {
  max-width: 100%;
  border-radius: 50%;
}

.map img:not(.bg):hover {
  max-width: 100%;
  /*
  cursor: pointer;
  box-shadow: rgba(0,0,0,.3) 3px 3px 4px 0;
  transform: translateY(-2px);
  */
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-justify-content: center!important;
    justify-content: center!important;
	max-width: 1700px;
	margin-top: -100px;
}
.draggable-container {
	max-height: 866px;
	min-width: 110px;
    top: 0;
    position: fixed;
	height: 100%;
}
.draggable-container.red-side {
	right: 0;
}
.draggable-container.blue-side {
	left: 0;
}
.draggable-items {
	display: flex;
	flex-wrap: wrap;
	width: 110px;
	min-height: 110px;
	border-top: 2px solid #2d2d2d7a;
	padding: 2px;
}
.draggable-items.blue-side {
    background: #5a4aad;
	border-radius: 0px 10px 10px 0px;
	flex-direction: row;
}
.draggable-items.red-side {
    background: #76453c;
	border-radius: 10px 0px 0px 10px;
	flex-direction: row-reverse;
}
.draggable {
	height:	50px;
	width: 50px;
    background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
    flex: none;
    cursor: pointer;
}
.draggable:hover {
  cursor: pointer;
  box-shadow: rgba(0,0,0,.3) 3px 3px 4px 0;
  transform: translateY(-2px);
}
.draggable.blue-mon {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);	
}
body {
	background: #333;
}

.red-mon {
    border: 2px solid #e4825c;
    border-radius: 50%;
    background-color: #ca6e4a4d;
}

.blue-mon {
	border: 2px solid #8473fd;
    border-radius: 50%;
    background-color: #7c68ec4d;
}

.aipom, .audino, .ambipom, .corphish, .lillipup, .bouffalant, .ludicolo, .vespiquen, .combee {
	opacity: 0.2;
}
.zapdos, .rotom, .drednaw {
	opacity: 0.6;
}