.map {
  position: relative;
  width: 100%;
  line-height: 0;
}

.map img:not(.bg) {
  max-width: 100%;
  border-radius: 50%;
}

.map img:not(.bg):hover {
  max-width: 100%;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.3) 3px 3px 4px 0;
  transform: translateY(-2px);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-justify-content: center!important;
    justify-content: center!important;
	max-width: 1140px;
}


.draggable-items {
	display: flex;
	flex-wrap: wrap;
    position: absolute;
    height: 100%;
	max-height: 866px;
    top: 0;
    flex-direction: column;
}
.draggable-items.blue-side {
	left: 0;
    background: #5a4aad;
    min-width: 50px;
    border-radius: 10px 0px 0px 10px;
}
.draggable-items.red-side {
	right: 0;
    background: #76453c;
    min-width: 50px;
    border-radius: 0px 10px 10px 0px;
}
}
.draggable {
	height:	50px;
	width: 50px;
    background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
    flex: none;
    cursor: pointer;
}

body {
	background: #333;
}

.red-mon {
    border: 2px solid #ca6e4a;
    border-radius: 50%;
    background-color: #ca6e4a;
}

.blue-mon {
	border: 2px solid #8473fd;
    border-radius: 50%;
    background-color: #7c68ec;
}

.audino, .ambipom, .corphish, .lillipup, .bouffalant, .ludicolo, .vespiquen, .combee {
	opacity: 0.2;
}
.zapdos, .rotom, .dreadnaw {
	oppacity: 0.5;
}